body{
	margin:0;
	background-color: #C6C6C6;
}

#outputLayer,#loadingDiv{
	background-color: white;
	border: solid 5px #666666;
}

#scoreDivOuter {
	margin: -10px 0 10px 0;
}

#scoreDivInner {
	width: 500px;
	margin: 0 auto;
}

#loadingDiv {
	width: 310px;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
}

#loadingDiv img{
	margin-top: 60px;
}

#vidPuzzleNavbar{
	min-width: 710px;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}
